*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color-one: #1992d4;
    --bg-color-two: #ffffff;
    --bg-color-three: #e2e8f0;

    --filter-white: invert(100%) sepia(99%) saturate(0%) hue-rotate(197deg) brightness(105%) contrast(100%);
    --filter-black: invert(0%) sepia(100%) saturate(0%) hue-rotate(253deg) brightness(107%) contrast(103%);

    font: 10px Roboto, sans-serif;
}

body {
    height: 100vh;
    background-color: lightgray;
}

.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: var(--bg-color-one);
    grid-column: span 1;
    grid-row: 1 / -1;

    font-size: 2rem;
    color: white;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.branding,
.main-links,
.secondary-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-links {
    padding-bottom: 2rem;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 2rem;

    color: white;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar a:hover {
    transform: scale(1.1);
}

.sidebar-logo,
.sidebar-icon {
    filter: var(--filter-white);
}

.branding {
    font-size: 3rem;
    font-weight: 700;
}

.branding a {
    gap: 1rem;
}

.sidebar-logo {
    height: auto;
    width: 60px;
}

.sidebar-icon {
    height: 30px;
    width: 30px;
}

.header {
    background-color: var(--bg-color-two);
    grid-column: 2 / -1;

    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header-top {
    background-color: lightgreen;

    display: grid;
    grid-template-columns: 4fr 2fr;
}

.search-bar {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 4fr;
}

.user-info {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.header-bottom {
    background-color: lightcoral;

    display: grid;
    grid-template-columns: 4fr 2fr;
}

.user-detail {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 10fr;
}

.user-actions {
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.main-content {
    background-color: var(--bg-color-three);
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.project-section {
    background-color: lightsalmon;
    grid-column: span 1;
    grid-row: 1 / -1;
}

.project-container {
    height: 90%;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 50px;
}

.project-card {
    background-color: gray;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.announcement-section {
    background-color: lightyellow;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.announcement-container {
    height: 90%;
    padding: 2rem;

    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 25px;
}

.trending-section {
    background-color: lightcyan;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}

.trending-container {
    padding: 2rem;

    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 25px;
}

.trending-item>a {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.icon {
    filter: invert(1);
    width: 20px;
}

.avatar-small {
    height: auto;
    width: 40px;
}

.avatar-large {
    height: auto;
    width: 80px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}